<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>	
				<run>	
   					 <include name="api" />	
   					 <include name="UiAutomation" />		
        		</run>	
       		</groups>	
    <classes>
      <class name="DemoProj.Demo.AutomationpractTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
